@font-face {
  font-family: "iconfont"; /* Project id 3418209 */
  src: url('iconfont.woff2?t=1653748735729') format('woff2'),
       url('iconfont.woff?t=1653748735729') format('woff'),
       url('iconfont.ttf?t=1653748735729') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-square-s:before {
  content: "\e62e";
}

.icon-media:before {
  content: "\e647";
}

.icon-disabled:before {
  content: "\e616";
}

.icon-mouse1:before {
  content: "\e650";
}

.icon-media1:before {
  content: "\e636";
}

.icon-numbers:before {
  content: "\e6d5";
}

.icon-layers:before {
  content: "\e637";
}

.icon-jianpan:before {
  content: "\e673";
}

.icon-keyboard-func:before {
  content: "\e778";
}

.icon-saveas:before {
  content: "\e655";
}

.icon-jixiang:before {
  content: "\e615";
}

.icon-shezhi:before {
  content: "\e765";
}

.icon-jianpan1:before {
  content: "\e64d";
}

.icon-daima:before {
  content: "\e70b";
}

.icon-mouse:before {
  content: "\e60f";
}

.icon-import:before {
  content: "\e630";
}

.icon-workflow:before {
  content: "\e618";
}

.icon-maximum:before {
  content: "\e674";
}

.icon-square-1:before {
  content: "\e640";
}

.icon-square-5:before {
  content: "\e641";
}

.icon-square-4:before {
  content: "\e642";
}

.icon-square-2:before {
  content: "\e643";
}

.icon-square-3:before {
  content: "\e644";
}

.icon-light:before {
  content: "\e627";
}

.icon-qrcode:before {
  content: "\e98d";
}

.icon-en:before {
  content: "\e619";
}

.icon-zh:before {
  content: "\e645";
}

.icon-fanti:before {
  content: "\e646";
}

